*{margin:0;padding:0;}
#bg{
	position:absolute;
	width: 1280px;
	height: 720px;
	background: url('../image/bg_img_01_3.jpg');
}
.line6{
    position:absolute;
    width: 292px;
    height: 166px;
}
#lineFoc{
	position:absolute;
}
#lineFoc1{
	position:absolute;
}
.lineFoc3{
    background: url('../image/focus_03.png');
    width: 589px;
    height: 337px;
}
.lineFocOther{
    background: url('../image/focus_04.png');
    width: 292px;
    height: 166px;
}
.lineFoc00{
	left: 220px;
    top: 111px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}

.lineFoc10{
	left: 374px;
    top: 90px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}
.lineFoc11{
	left: 558px;
    top: 90px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}
.lineFoc12{
	left: 737px;
    top: 90px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}
.lineFoc13{
	left: 914px;
    top: 90px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}
.lineFoc14{
	left: 374px;
    top: 137px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}

.lineFoc15{
	left: 558px;
    top: 137px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}
.lineFoc16{
	left: 737px;
    top: 137px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}
.lineFoc17{
	left: 914px;
    top: 137px;
    width: 115px;
    height: 11px;
	border:0px;
	background: url('../image/focus_01.png');
}



.lineFoc20{
	left: 1108px;
    top: 53px;
    width: 122px;
    height: 50px;
	border:0px;
	background: url('../image/focus_02.png');
}

.lineFoc30{
	left: 48px;
    top: 151px;
    width: 589px;
    height: 337px;
	border:0px;
	background: url('../image/focus_03.png');
}

.lineFoc40{
	left: 48px;
    top: 494px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}
.lineFoc41{
	left: 344px;
    top: 494px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}

.lineFoc50{
	left: 641px;
    top: 151px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}
.lineFoc52{
	left: 641px;
    top: 322px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}
.lineFoc54{
	left: 641px;
    top: 494px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}
.lineFoc51{
	left: 938px;
    top: 151px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}
.lineFoc53{
	left: 938px;
    top: 322px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}
.lineFoc55{
	left: 938px;
    top: 494px;
    width: 292px;
    height: 166px;
	border:0px;
	background: url('../image/focus_04.png');
}


.line20{
	position: absolute;
	left: 1108px;
    top: 53px;
    width: 122px;
    height: 50px;
	background: url('../image/icon_01.png');
}	
.line30{
	position: absolute;
	left: 48px;
    top: 151px;
    width: 589px;
	height: 337px;
	
}
.line40{
	position: absolute;
	left: 48px;
    top: 494px;
    width: 292px;
    height: 166px;
	
}
.line41{
	position: absolute;
	left: 344px;
    top: 494px;
    width: 292px;
    height: 166px;
	
}

.line50{
	position: absolute;
	left: 641px;
    top: 151px;
    width: 292px;
    height: 166px;
	
}
.line52{
	position: absolute;
	left: 641px;
    top: 322px;
    width: 292px;
    height: 166px;
	
}
.line54{
	position: absolute;
	left: 641px;
    top: 494px;
    width: 292px;
    height: 166px;
	
}

.line51{
    position: absolute;
	left: 938px;
    top: 151px;
    width: 292px;
    height: 166px;
}
.line53{
    position: absolute;
	left: 938px;
    top: 322px;
    width: 292px;
    height: 166px;
}
.line55{
    position: absolute;
	left: 938px;
    top: 494px;
    width: 292px;
    height: 166px;
}