body {
}

.label_white
{
    position:absolute;
    color:#2D3134;
    font-size:26px;
    width:53px;
    height:53px;
    line-height:53px;
    text-align:center;
    overflow:hidden;
    z-index:2;
    }

.focus_white
{
    position:absolute;
    width:53px;
    height:53px;
    z-index:1;
    }

.key0_0_white{left:8px;top:15px;border:1px solid #2D3134; }
.key0_1_white{left:72px;top:15px;border:1px solid #2D3134;}
.key0_2_white{left:136px;top:15px;border:1px solid #2D3134;}
.key0_3_white{left:200px;top:15px;border:1px solid #2D3134;}
.key0_4_white{left:264px;top:15px;border:1px solid #2D3134;}
.key0_5_white{left:327px;top:15px;border:1px solid #2D3134;}
.key0_6_white{left:391px;top:15px;border:1px solid #2D3134;}
.key0_7_white{left:455px;top:15px;border:1px solid #2D3134;}
.key0_8_white{left:519px;top:15px;border:1px solid #2D3134;}
.key0_9_white{left:584px;top:15px;border:1px solid #2D3134;}
.key0_10_white{left:648px;top:15px;border:1px solid #2D3134;width:115px;height:53px;}

.key1_0_white{left:8px;top:74px;border:1px solid #2D3134;}
.key1_1_white{left:72px;top:74px;border:1px solid #2D3134;}
.key1_2_white{left:136px;top:74px;border:1px solid #2D3134;}
.key1_3_white{left:200px;top:74px;border:1px solid #2D3134;}
.key1_4_white{left:264px;top:74px;border:1px solid #2D3134;}
.key1_5_white{left:327px;top:74px;border:1px solid #2D3134;}
.key1_6_white{left:391px;top:74px;border:1px solid #2D3134;}
.key1_7_white{left:455px;top:74px;border:1px solid #2D3134;}
.key1_8_white{left:519px;top:74px;border:1px solid #2D3134;}
.key1_9_white{left:584px;top:74px;border:1px solid #2D3134;}
.key1_10_white{left:648px;top:74px;border:1px solid #2D3134;width:115px;height:53px;}

.key2_0_white{left:8px;top:133px;border:1px solid #2D3134;}
.key2_1_white{left:72px;top:133px;border:1px solid #2D3134;}
.key2_2_white{left:136px;top:133px;border:1px solid #2D3134;}
.key2_3_white{left:200px;top:133px;border:1px solid #2D3134;}
.key2_4_white{left:264px;top:133px;border:1px solid #2D3134;}
.key2_5_white{left:327px;top:133px;border:1px solid #2D3134;}
.key2_6_white{left:391px;top:133px;border:1px solid #2D3134;}
.key2_7_white{left:455px;top:133px;border:1px solid #2D3134;}
.key2_8_white{left:519px;top:133px;border:1px solid #2D3134;}
.key2_9_white{left:584px;top:133px;border:1px solid #2D3134;}
.key2_10_white{left:648px;top:133px;border:1px solid #2D3134;width:115px;height:53px;}

.key3_0_white{left:40px;top:192px;border:1px solid #2D3134;}
.key3_1_white{left:104px;top:192px;border:1px solid #2D3134;}
.key3_2_white{left:168px;top:192px;border:1px solid #2D3134;}
.key3_3_white{left:232px;top:192px;border:1px solid #2D3134;}
.key3_4_white{left:296px;top:192px;border:1px solid #2D3134;}
.key3_5_white{left:360px;top:192px;border:1px solid #2D3134;}
.key3_6_white{left:424px;top:192px;border:1px solid #2D3134;}
.key3_7_white{left:488px;top:192px;border:1px solid #2D3134;}
.key3_8_white{left:552px;top:192px;border:1px solid #2D3134;}
.key3_9_white{left:616px;top:192px;border:1px solid #2D3134;width:115px;height:53px;}

.key4_0_white{left:72px;top:252px;border:1px solid #2D3134;}
.key4_1_white{left:136px;top:252px;border:1px solid #2D3134;}
.key4_2_white{left:200px;top:252px;border:1px solid #2D3134;}
.key4_3_white{left:264px;top:252px;border:1px solid #2D3134;}
.key4_4_white{left:327px;top:252px;border:1px solid #2D3134;}
.key4_5_white{left:391px;top:252px;border:1px solid #2D3134;}
.key4_6_white{left:455px;top:252px;border:1px solid #2D3134;}
.key4_7_white{left:519px;top:252px;border:1px solid #2D3134;background-image:url("../img/white/bt2_1.png")}
.key4_8_white{left:584px;top:252px;border:1px solid #2D3134;width:115px;height:53px;}

.key5_0_white{left:738px;top:288px;width:32px;height:32px;z-index:1;background-image:url("../img/white/close.png")}

.bg_white{ position:absolute;background-color:white;width:770px;height:320px;z-index:99;}

.focus0_0_white{ background-color:#C0C0C1;}
.focus0_1_white{ background-color:#C0C0C1;}
.focus0_2_white{ background-color:#C0C0C1;}
.focus0_3_white{ background-color:#C0C0C1;}
.focus0_4_white{ background-color:#C0C0C1;}
.focus0_5_white{ background-color:#C0C0C1;}
.focus0_6_white{ background-color:#C0C0C1;}
.focus0_7_white{ background-color:#C0C0C1;}
.focus0_8_white{ background-color:#C0C0C1;}
.focus0_9_white{ background-color:#C0C0C1;}
.focus0_10_white{ background-color:#C0C0C1;width:115px;height:53px;}

.focus0_0_d_white{ background-color:red;}
.focus0_1_d_white{ background-color:red;}
.focus0_2_d_white{ background-color:red;}
.focus0_3_d_white{ background-color:red;}
.focus0_4_d_white{ background-color:red;}
.focus0_5_d_white{ background-color:red;}
.focus0_6_d_white{ background-color:red;}
.focus0_7_d_white{ background-color:red;}
.focus0_8_d_white{ background-color:red;}
.focus0_9_d_white{ background-color:red;}
.focus0_10_d_white{ background-color:red;width:115px;height:53px;}

.focus1_0_white{ background-color:#C0C0C1;}
.focus1_1_white{ background-color:#C0C0C1;}
.focus1_2_white{ background-color:#C0C0C1;}
.focus1_3_white{ background-color:#C0C0C1;}
.focus1_4_white{ background-color:#C0C0C1;}
.focus1_5_white{ background-color:#C0C0C1;}
.focus1_6_white{ background-color:#C0C0C1;}
.focus1_7_white{ background-color:#C0C0C1;}
.focus1_8_white{ background-color:#C0C0C1;}
.focus1_9_white{ background-color:#C0C0C1;}
.focus1_10_white{ background-color:#C0C0C1;width:115px;height:53px;}

.focus1_0_d_white{ background-color:red;}
.focus1_1_d_white{ background-color:red;}
.focus1_2_d_white{ background-color:red;}
.focus1_3_d_white{ background-color:red;}
.focus1_4_d_white{ background-color:red;}
.focus1_5_d_white{ background-color:red;}
.focus1_6_d_white{ background-color:red;}
.focus1_7_d_white{ background-color:red;}
.focus1_8_d_white{ background-color:red;}
.focus1_9_d_white{ background-color:red;}
.focus1_10_d_white{ background-color:red;width:115px;height:53px;}

.focus2_0_white{ background-color:#C0C0C1;}
.focus2_1_white{ background-color:#C0C0C1;}
.focus2_2_white{ background-color:#C0C0C1;}
.focus2_3_white{ background-color:#C0C0C1;}
.focus2_4_white{ background-color:#C0C0C1;}
.focus2_5_white{ background-color:#C0C0C1;}
.focus2_6_white{ background-color:#C0C0C1;}
.focus2_7_white{ background-color:#C0C0C1;}
.focus2_8_white{ background-color:#C0C0C1;}
.focus2_9_white{ background-color:#C0C0C1;}
.focus2_10_white{ background-color:#C0C0C1;width:115px;height:53px;}

.focus2_0_d_white{ background-color:red;}
.focus2_1_d_white{ background-color:red;}
.focus2_2_d_white{ background-color:red;}
.focus2_3_d_white{ background-color:red;}
.focus2_4_d_white{ background-color:red;}
.focus2_5_d_white{ background-color:red;}
.focus2_6_d_white{ background-color:red;}
.focus2_7_d_white{ background-color:red;}
.focus2_8_d_white{ background-color:red;}
.focus2_9_d_white{ background-color:red;}
.focus2_10_d_white{ background-color:red;width:115px;height:53px;}

.focus3_0_white{ background-color:#C0C0C1;}
.focus3_1_white{ background-color:#C0C0C1;}
.focus3_2_white{ background-color:#C0C0C1;}
.focus3_3_white{ background-color:#C0C0C1;}
.focus3_4_white{ background-color:#C0C0C1;}
.focus3_5_white{ background-color:#C0C0C1;}
.focus3_6_white{ background-color:#C0C0C1;}
.focus3_7_white{ background-color:#C0C0C1;}
.focus3_8_white{ background-color:#C0C0C1;}
.focus3_9_white{ background-color:#C0C0C1;width:115px;height:53px;}

.focus3_0_d_white{ background-color:red;}
.focus3_1_d_white{ background-color:red;}
.focus3_2_d_white{ background-color:red;}
.focus3_3_d_white{ background-color:red;}
.focus3_4_d_white{ background-color:red;}
.focus3_5_d_white{ background-color:red;}
.focus3_6_d_white{ background-color:red;}
.focus3_7_d_white{ background-color:red;}
.focus3_8_d_white{ background-color:red;}
.focus3_9_d_white{ background-color:red;width:115px;height:53px;}

.focus4_0_white{ background-color:#C0C0C1;}
.focus4_1_white{ background-color:#C0C0C1;}
.focus4_2_white{ background-color:#C0C0C1;}
.focus4_3_white{ background-color:#C0C0C1;}
.focus4_4_white{ background-color:#C0C0C1;}
.focus4_5_white{ background-color:#C0C0C1;}
.focus4_6_white{ background-color:#C0C0C1;}
.focus4_7_white{ background-color:#C0C0C1;background-image:url("../img/white/bt2_1.png")}
.focus4_8_white{ background-color:#C0C0C1;width:115px;height:53px;}

.focus4_0_d_white{ background-color:red;}
.focus4_1_d_white{ background-color:red;}
.focus4_2_d_white{ background-color:red;}
.focus4_3_d_white{ background-color:red;}
.focus4_4_d_white{ background-color:red;}
.focus4_5_d_white{ background-color:red;}
.focus4_6_d_white{ background-color:red;}
.focus4_7_d_white{ background-color:red;background-image:url("../img/white/bt2_1.png")}
.focus4_8_d_white{ background-color:red;width:115px;height:53px;}

.focus5_0_white{background-image:url("../img/white/close_1.png");left:738px;top:288px;width:32px;height:32px;z-index:2; border:0px;}
.focus5_0_d_white{background-image:url("../img/white/close_2.png");left:738px;top:288px;width:32px;height:32px;z-index:2;border:0px;}