*{margin:0;padding:0;}
#bg{
	position:absolute;
	width: 1280px;
	height: 720px;
	background: url('../image/bg_img_01_3.jpg');
}
#errorbg{
	position:absolute;
	width: 1280px;
	height: 720px;
    background: url('../image/error.png');
    z-index: 1;
}
#largebg{
	position:absolute;
	width: 1280px;
	height: 720px;
    background: url('../image/large.png');
    z-index: 1;
}
.headTitle {
    position: absolute;
    width: 521px;
    height: 60px;
    top: 45px;
    left: 50px;
    line-height: 60px;
    font-size: 35px;
    color: white;
}
.line1{
    background: url('../image/line1.png');
}
.line1Foc{
    color: #FF5722 !important;
    background: url('../image/line1Foc.png');
}
.title{
    position: absolute;
    width: 549px;
    height: 101px;
    left: 80px;
    overflow: hidden;
}
.free{
    position: absolute;
    width: 40px;
    height: 20px;
    background: url('../image/free.png');
    top: 19px;
}
.time{
    position: absolute;
    width: 149px;
    height: 101px;
    left: 644px;
    line-height: 101px;
    overflow: hidden;
}
#pageLine {
    position: absolute;
    width: 7px;
    height: 436px;
}
#cover{
    position: absolute;
    width: 287px;
    height: 360px;
    top: 142px;
    left: 50px;
}
#line10{
    position: absolute;
    width: 793px;
    height: 101px;
    top: 142px;
    left: 380px;
    line-height: 101px;
    font-size: 24px;
    color: #ffffff;
}

#line11{
    position: absolute;
    width: 793px;
    height: 101px;
    top: 244px;
    left: 380px;
    line-height: 101px;
    font-size: 24px;
    color: #ffffff;
}

#line12{
    position: absolute;
    width: 793px;
    height: 101px;
    top: 346px;
    left: 380px;
    line-height: 101px;
    font-size: 24px;
    color: #ffffff;
}

#line13{
    position: absolute;
    width: 793px;
    height: 101px;
    top: 448px;
    left: 380px;
    line-height: 101px;
    font-size: 24px;
    color: #ffffff;
}



